body {
  margin: 0;
  background-color: #41B3A3;
}

h1 {
  margin: 0;
  padding: 2% 0 0 0;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  font-family: "Lobster", sans-serif;
  color: rgba(245,245,245, 1.0);
  text-shadow: 2px 2px rgba(0,0,0,0.8);
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 2.5%;
  margin: 1% 10%;
  height: 100%;
  border: 1px solid black;
}

/* Override default button and input stylings */
button, input {
  font-family: inherit;
  font-size: 100%;
  line-height:  1.5;
  margin: 0;
  overflow: hidden;
  text-transform: none;
}

/* Login and Signup Styling */

.redirect_nav {
  margin: 2% 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.6em;
}

.redirect_nav a {
  color: rgba(245,245,245, 1.0);
  text-decoration: none;
}

.redirect_nav a:hover {
  color: rgba(47, 60, 126, 1.0);
}

.signup_panel, .login_panel {
  margin: 5% 0 0;
  padding: 3% 2%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Gotu', sans-serif;
  height: 20%;
  width: 20%;
  background-color: rgba(47, 60, 126, 1.0);
  border: 2px solid rgba(255, 245, 238, 1.0);
  border-radius: 15px;
}

.text_input {
  max-width: 75%;
  color: rgba(61, 21, 95, 1.0);
  background-color: rgba(255, 255, 238, 1.0);
  margin: 0 0 1%;
  border: none;
}

.text_input:hover {
  background-color: rgb(225, 212, 241);
}

.prompt {
  margin: 2% 0 2%;
  text-align: center;
  color: #fff;
}

/* Login and Signup Button Animation */

.button_input {
  text-decoration: none;
  font-weight: 700;
  position: relative;
  margin: 2% 0;
  min-width: 60%;
  min-height: 25%;
  border: none;
  background-color: rgba(255, 255, 255, 1.0);
}

.button_input span {
  display: inline-block;
  padding: 1% 0 0;
  position: relative;
  transition: 0.1s;
}

.button_input span:after {
  content: '\000bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: all 0.1s ease 0s;
}

.button_input:hover span {
  padding-top: 1%;
  padding-right: 25px;
  letter-spacing: 1px;
  transition: all 0.1s ease 0s;
}

.button_input:hover span:after {
  opacity: 1;
  right: 0;
}

/* Deck Dashboard styling */

#titleField, #projectTypeField, .submit {
  background-color: cornsilk;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 3px;
  background-image: linear-gradient(to right,  rgba(47, 60, 126, 1.0),  rgb(7, 67, 134, 0.8));
  background-repeat: no-repeat;
  background-size: 100%;
  height: 30%;
  width: 100%;
}

.deck {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  border-radius: 5px;
}

/* Deck Accordion styling */

.accordion {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 245, 238, 1.0);
  color: rgba(47, 60, 126, 1.0);
  cursor: pointer;
  width: 100%;
  border: 1px solid rgba(47, 60, 126, 1.0);
  outline: none;
  transition: 0.3s;
}

.accordion:after {
  content: '\02795';
  color: '#777';
  justify-self: flex-end;
  align-self: flex-end;
  margin-left: 5px;
}

.expanded, .accordion:hover {
  background-color: #ccc;
}

.expanded:after {
  content: '\2796';
}

.accordion p {
  text-overflow: clip;
  margin: 0;
  min-width: 50%;
}

.deck_title {
  font-weight: 700;
  font-size: large;
}

.deck_type {
  font-style: italic;
}

/* Deck edit panel styling */

.edit_panel {
  height: 25%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.open_deck, .delete_deck {
  line-height: 1.5;
  border-radius: 2px;
  background-color:  rgba(47, 60, 126, 1.0);
  color: #fff;
}

/* Shred preview tile styling */
.shred_tile {
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.shred_tile_preview {
  float: left;
}